///////////////
// HOME HERO //
///////////////

.home-hero {
  background-color: $tan;
  background-image: url('../img/home-hero-bg.jpg');
  overflow: hidden;
  height: 66rem;
}
.home-hero-text {
  padding-top: 26rem;
  padding-bottom: 6rem;

  // .hero-heading,
  // .hero-subheading {
  //   text-align: center;
  // }
}

.home-hero-cta {
  text-align: center;

  a {
    font-size: 1.75rem;
    line-height: 3rem;
    padding: 0.75rem 1.25rem;
    border: 1px solid $blue;
    margin: 1px;
    border-radius: 0.5rem;

    &:hover {
      border: 2px solid $blue;
      margin: -1px;
      color: $blue;
    }
    &:active {
      background-color: $blue;
      color: white;
    }
  }
}

// Responsive
@media screen and (max-width: (77*$rem)) {
  .home-hero {
    height: 62rem;
  }
  .home-hero-text {
    padding-top: 23rem;
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: $break-small) {
  .home-hero {
    height: 54rem;
  }
  .home-hero-text {
    padding-top: 16rem;
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: $break-tiny) {
  .home-hero {
    height: 48rem;
  }
  .home-hero-text {
    padding-top: 14rem;
    padding-bottom: 6rem;
  }
}


//////////
// USPS //
//////////

.usps {
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 0;
  padding-left: $padded-normal/2;
  padding-right: $padded-normal/2;
  background-color: white;

  img {
    margin-top: 3rem;
    margin-left: $padded-normal/-2;
    margin-right: $padded-normal/-2;
  }
}
.usp {
  padding: 0 $padded-normal/2;
  box-sizing: border-box;
  float: left;
  width: 33.3%;
  text-align: center;

  p {
    font-size: 1.5rem;
  }
}
.usp-description {
  font-size: 1.5rem;
  line-height: 2rem;
}

// Responsive
@media screen and (max-width: (77*$rem)) {
  .usp {
    width: auto;
    float: none;
    margin: 0 0 6rem 0;

    p {
      margin-top: 0.5rem;
    }
  }
}


//////////////
// WAITLIST //
//////////////

.waitlist {
  padding-top: 6rem;
  background-color: $tan;
  text-align: center;


  #mc_embed_signup {
    margin: 6rem 0 6rem 0;
  }

  #mce-EMAIL {
    display: inline-block;
    position: relative;
    width: 26rem;
    border: 0;
    border-bottom: 1px solid $blue;
    margin-right: 0.5rem;
    margin-bottom: 1px;
    border-radius: 0;
    background-color: transparent;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    color: $black;

    &::placeholder {
      color: transparentize($black,0.5);
      
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid $blue;
      margin-bottom: 0;
    }
  }

  #mc-embedded-subscribe {
    display: inline-block;
    padding: 0 1.25rem;
    border: 1px solid $blue;
    border-radius: 0.5rem;
    margin: 0;
    font-size: 1.75rem;
    line-height: 3rem;
    background-color: transparent;
    color: $blue;
    
    &:hover {
      border: 2px solid $blue;
      margin: -1px;
      color: $blue;
    }
    &:active {
      background-color: $blue;
      color: white;
    }
  }

  @media screen and (max-width: $break-medium) {
    #mce-EMAIL {
      max-width: 22rem;
      width: 100%;
    }
  }
  @media screen and (max-width: (33*$rem)) {
    #mce-EMAIL {
      text-align: center;
    }
    #mc-embedded-subscribe {
      margin-top: 2rem;
    }
  }
}

// .hero-pricing {
//   padding-top: 6rem;
//   padding-bottom: 6rem;
// }
// @media screen and (max-width: $break-medium) {
//   .hero-pricing {
//     padding-top: 4rem;
//     padding-bottom: 4rem;
//   }
// }

// 1.html
.section-screenshots {
  background-color: white;
}
.screenshots-images {
  position: relative;
  width: 109.34rem;
  height: 50rem;
  margin: 0 auto;
}
.screenshots-image {
  position: absolute;
  top: 0;
  width: 33.33%;
}
.screenshots-image-1 {
  left: 0;
}
.screenshots-image-2 {
  left: 33.33%;
}
.screenshots-image-3 {
  left: 66.66%;
}
@media screen and (max-width: (120*$rem)) {
  .screenshots-images {
    width: 100rem;
    height: 45.4167rem;
  }
}
@media screen and (max-width: (108*$rem)) {
  .screenshots-images {
    width: 90rem;
    height: 40.583rem;
  }
}
@media screen and (max-width: (100*$rem)) {
  .screenshots-images {
    width: 100%;
    height: 40.583rem;
  }
  .screenshots-image-1 {
    width: 30rem;
    left: 50%;
    margin-left: -15rem;
    z-index: 3;
  }
  .screenshots-image-2 {
    width: 26rem;
    top: 5.75rem;
    left: 0;
    z-index: 2;
  }
  .screenshots-image-3 {
    width: 24rem;
    top: 8.67rem;
    left: 100%;
    margin-left: -25.75rem;
    z-index: 1;
  }
}
@media screen and (max-width: (58*$rem)) {
  .screenshots-images {
    height: 33rem;
  }
  .screenshots-image-1 {
    width: 24rem;
    top: 1px;
    left: 50%;
    margin-left: -12rem;
    z-index: 3;
  }
  .screenshots-image-2 {
    width: 21rem;
    top: 4.75rem;
    left: 0;
    z-index: 2;
  }
  .screenshots-image-3 {
    width: 18rem;
    top: 8.834rem;
    left: 100%;
    margin-left: -18.5rem;
    z-index: 1;
  }
}
@media screen and (max-width: (36*$rem)) {
  .screenshots-image-2 {
    margin-left: -2rem;
  }
  .screenshots-image-3 {
    margin-left: -16.5rem;
  }
}